<!DOCTYPE html>
<html lang="en">
<head>
    <title>TITLE 2</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/dark_gray.css}" href="/styles/dark_gray.css">
</head>
<body>
    <a name="top"></a>
    Up to Java 17, Spring Boot 3 (Hibernate 6), JUnit 5, PostgreSQL 11<br>
    <h1>TITLE 2</h1>
    Line 21<br>
    Line 22<br>
    <textarea>
abacd()
        kkdjfks
        LJJLIUOI
    </textarea>
    <br>
    <a href="title_3.html">See: TITLE 3</a></br>
    <br>
    <a href="#top">Back to top of page</a><br>
    <script>
        function content_to_clipboard(element) {
            element.select();
            document.execCommand('copy');
        }
        function element_to_full_size(element) {
            element.style.height = "";
            element.style.height = element.scrollHeight + "px";
        }
    </script>
</body>
</html>
