<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table th:fragment="banner" class="formatter_table">
    <tr>
        <td style="width: 10%">
            <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge" class="banner_image"></a>
        </td>
        <td style="width: 60%">
            <h1 class="banner_title" th:text="*{templateTitle}" />
        </td>
        <td style="width: 30%">
            <p class="banner_info"><i>
                Author: lgrimm, created: 2022-2023<br>
                Find me:&nbsp;
                <a href="https://github.com/lgrimm1"><img src="/images/logo_GitHub.jpg" alt="GitHub" class="banner_link_logo"></a>
                <a href="https://www.linkedin.com/in/laszlo-grimm/"><img src="/images/logo_LinkedIn.jpg" alt="LinkedIn" class="banner_link_logo"></a>
            </i></p>
        </td>
    </tr>
</table>
</body>
</html>
