<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html::head}" />
<body>
<form action="#" th:object="${payload}" th:action="@{/page}" method="post" novalidate>
    <table th:replace="~{/fragments/banner.html::banner}" />
    <table class="formatter_table">
        <tr>
            <td style="width: 100%">
                <fieldset style="height: 20px">
                    <label th:if="*{searchText} == ''" class="message" >Search Criteria: - all titles -</label>
                    <label th:unless="*{searchText} == ''" th:text="'Search Criteria: ' + *{searchText}" class="message" />
                </fieldset>
            </td>
        </tr>
    </table>
    <br>
    <table class="formatter_table">
        <tr>
            <td style="width: 65%">
                <fieldset>
                    <legend>&nbsp;List of Filtered Titles&nbsp;</legend>
                    <select id="titles_list" th:field="*{titles}" title="Select a Title" size="8" autofocus>
                        <option th:each="title: *{titles}" th:text="${title}" th:value="${title}" />
                    </select>
                </fieldset>
            </td>
            <td style="width: 35%">
                <fieldset>
                    <legend>&nbsp;Actions&nbsp;</legend>
                    <input type="submit" value="VIEW PAGE" title="Press to View Selected Page" class="submit_full" formaction="/page" formmethod="post" /><br>
                    <input type="submit" value="BACK" title="Press to Jump Home" class="submit_full" formaction="/" formmethod="get" />
                </fieldset>
            </td>
        </tr>
    </table>
    <br>
</form>
</body>
</html>
