<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/desktop.css}" href="/styles/desktop.css">
</head>
<body>
<form action="#" th:object="${payload}" th:action="@{/page}" method="post" novalidate>
    <table class="formatter_table">
        <tr>
            <td style="width: 10%">
                <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge" class="banner_image"></a>
            </td>
            <td style="width: 60%">
                <h1 class="banner_title">LIST OF TITLES</h1>
            </td>
            <td style="width: 30%">
                <p class="banner_info">
                    Author: <i>lgrimm</i>, created: 2022-2023<br>
                    Find me:&nbsp;<a href="https://github.com/lgrimm1">GitHub</a>,&nbsp;<a href="https://www.linkedin.com/in/laszlo-grimm/">LinkedIn</a>
                </p>
            </td>
        </tr>
    </table>
    <table class="formatter_table">
        <tr>
            <td style="width: 100%">
                <fieldset style="height: 20px">
                    <label th:text="'Search Criteria: ' + *{searchText}" class="message" />
                </fieldset>
            </td>
        </tr>
    </table>
    <br>
    <table class="formatter_table">
        <tr>
            <td style="width: 65%">
                <fieldset>
                    <legend>&nbsp;List of Filtered Titles&nbsp;</legend>
                    <select id="titles_list" th:field="*{titles}" size="8" autofocus>
                        <option th:each="title: *{titles}" th:text="${title}" th:value="${title}" />
                    </select>
                </fieldset>
            </td>
            <td style="width: 35%">
                <fieldset>
                    <legend>&nbsp;Actions&nbsp;</legend>
                    <input type="submit" value="VIEW PAGE" formaction="/page" formmethod="post" /><br>
                    <input type="submit" value="BACK" formaction="/" formmethod="get" />
                </fieldset>
            </td>
        </tr>
    </table>
    <br>
</form>
<script>
    window.onload = function() {
        var s = document.getElementById("titles_list");
        s.selectedIndex = 0;
    }
</script>
</body>
</html>
