<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<table class="formatter_table">
    <tr>
        <td style="width: 20%">
            <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge"></a>
        </td>
        <td style="width: 80%">
            <h1 class="page_title">LIST OF TITLES</h1>
        </td>
    </tr>
</table>
<br>
<form action="#" th:object="${payload}" th:action="@{/page}" method="post" novalidate>
    <h4>SEARCH CRITERIA: <label th:text="*{searchText}" /></h4>
    <fieldset>
        <table class="formatter_table">
            <tr>
                <td style="width: 75%">
                    <select id="titles_list" th:field="*{titles}" size="10" autofocus>
                        <option th:each="title: *{titles}" th:text="${title}" th:value="${title}" />
                    </select>
                    <br>
                </td>
                <td style="width: 25%">
                    <input type="submit" value="VIEW PAGE" formaction="/page" formmethod="post" /><br>
                    <input type="submit" value="BACK" formaction="/" formmethod="get" />
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
</form>
<script>
    window.onload = function() {
        var s = document.getElementById("titles_list");
        s.selectedIndex = 0;
    }
</script>
</body>
</html>
