<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/desktop.css}" href="/styles/desktop.css">
    <script type="text/javascript" th:src="@{/js/desktop.js}" src="/js/desktop.js"></script>
</head>
<body>
<form action="#" th:object="${payload}" th:action="@{/management}" method="post" novalidate>
    <table class="formatter_table">
        <tr>
            <td style="width: 10%">
                <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge" class="banner_image"></a>
            </td>
            <td style="width: 60%">
                <h1 class="banner_title">JAVA KNOWLEDGE MANAGEMENT</h1>
            </td>
            <td style="width: 30%">
                <p class="banner_info"><i>
                    Author: lgrimm, created: 2022-2023<br>
                    Find me:&nbsp;
                    <a href="https://github.com/lgrimm1"><img src="/images/logo_GitHub.jpg" alt="GitHub" class="banner_link_logo"></a>
                    <a href="https://www.linkedin.com/in/laszlo-grimm/"><img src="/images/logo_LinkedIn.jpg" alt="LinkedIn" class="banner_link_logo"></a>
                </i></p>
            </td>
        </tr>
    </table>
    <table class="formatter_table">
        <tr>
            <td style="width: 100%">
                <fieldset style="height: 20px">
                    <label th:text="*{message}" class="message" />
                </fieldset>
            </td>
        </tr>
    </table>
    <br>
    <table class="formatter_table">
        <tr>
            <td style="width: 65%">
                <fieldset>
                    <legend>&nbsp;List of All Titles&nbsp;</legend>
                    <select id="titles_list" th:field="*{titles}" size="15" multiple autofocus>
                        <option th:each="title: *{titles}" th:text="${title}" th:value="${title}" />
                    </select>
                </fieldset>
                <br>
            </td>
            <td style="width: 35%">
                <fieldset>
                    <legend>&nbsp;Actions on a Source&nbsp;</legend>
                    <input type="submit" value="NEW SOURCE PAGE" class="submit_half" formaction="/source/new" formmethod="post" />
                    <input type="submit" value="EDIT SOURCE PAGE" class="submit_half" formaction="/source/edit" formmethod="post" /><br>
                    <input type="text" th:field="*{title}" placeholder="Enter a new title..." >
                    <input type="submit" value="RENAME SOURCE PAGE" class="submit_full" formaction="/rename" formmethod="post" /><br>
                </fieldset>
                <br>
                <fieldset>
                    <legend>&nbsp;Actions on All Sources&nbsp;</legend>
                    <label for="files" class="custom_file_upload">
                        <input id="files" type="file" th:field="*{files}" class="submit_half" multiple />
                        BROWSE FILES...
                    </label>
                    &nbsp;
                    <label for="confirm">Confirm Action: </label><input id="confirm" type="checkbox" th:field="*{confirm}" /><br>
                    <br>
                    <input type="submit" value="DELETE SOURCE PAGES" class="submit_full" formaction="/delete" formmethod="post" /><br>
                    <input type="submit" value="GENERATE HTML PAGES" class="submit_half" formaction="/generate" formmethod="post" />
                    <input type="submit" value="IMPORT SOURCE FILES" class="submit_half" formaction="/import" formmethod="post" /><br>
                </fieldset>
                <br>
                <input type="submit" value="BACK" class="submit_full" formaction="/" formmethod="get" />
            </td>
        </tr>
    </table>
    <br>
</form>
</body>
</html>
