<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/dark_gray.css}" href="/styles/dark_gray.css">
</head>
<body>
<table class="formatter_table">
    <tr>
        <td style="width: 20%">
            <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge"></a>
        </td>
        <td style="width: 80%">
            <h1 class="page_title">JAVA KNOWLEDGE MANAGEMENT</h1>
        </td>
    </tr>
</table>
<br>
<form action="#" th:object="${payload}" th:action="@{/management}" method="post" novalidate>
    <h4><label th:field="*{message}" class="message" /></h4>
    <table class="formatter_table">
        <tr>
            <td style="width: 65%">
                <fieldset>
                    <legend>&nbsp;List of All Titles&nbsp;</legend>
                    <select id="titles_list" th:field="*{titles}" size="15" multiple autofocus>
                        <option th:each="title: *{titles}" th:text="${title}" th:value="${title}" />
                    </select>
                </fieldset>
                <br>
            </td>
            <td style="width: 35%">
                <fieldset>
                    <legend>&nbsp;Actions on a Source&nbsp;</legend>
                    <input type="submit" value="NEW SOURCE PAGE" formaction="/source/new" formmethod="post" /><br>
                    <input type="submit" value="EDIT SOURCE PAGE" formaction="/source/edit" formmethod="post" /><br>
                </fieldset>
                <br>
                <fieldset>
                    <legend>&nbsp;Actions on All Sources&nbsp;</legend>
                    <label for="files" class="custom_file_upload">
                        <input id="files" type="file" th:field="*{files}" multiple />
                        BROWSE FILES...
                    </label>
                    <br>
                    <label for="confirm">Confirm action: </label><input id="confirm" type="checkbox" th:field="*{confirm}" /><br>
                    <br>
                    <input type="submit" value="DELETE SOURCE PAGES" formaction="/delete" formmethod="post" /><br>
                    <input type="submit" value="GENERATE PAGES FROM SOURCES" formaction="/generate" formmethod="post" /><br>
                    <input type="submit" value="PUBLISH STATIC PAGES" formaction="/publish" formmethod="post" /><br>
                    <input type="submit" value="IMPORT SOURCE FILES" formaction="/import" formmethod="post" /><br>
                </fieldset>
                <br>
                <input type="submit" value="BACK" class="button" formaction="/" formmethod="get" />
            </td>
        </tr>
    </table>
    <br>
</form>
<script>
    window.onload = function() {
        var s = document.getElementById("titles_list");
        s.selectedIndex = 0;
    }
</script>
</body>
</html>
