<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/desktop.css}" href="/styles/desktop.css">
</head>
<body id="body">
<form action="#" th:object="${payload}" th:action="@{/page}" method="post" novalidate>
    <table id="banner" class="formatter_table">
        <tr>
            <td style="width: 10%">
                <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge" class="banner_image"></a>
            </td>
            <td style="width: 60%">
                <h1 class="banner_title">KNOWLEDGE PAGE</h1>
            </td>
            <td style="width: 30%">
                <p class="banner_info">
                    Author: <i>lgrimm</i>, created: 2022-2023<br>
                    Find me:&nbsp;<a href="https://github.com/lgrimm1">GitHub</a>,&nbsp;<a href="https://www.linkedin.com/in/laszlo-grimm/">LinkedIn</a>
                </p>
            </td>
        </tr>
    </table>
    <fieldset id="references">
        <legend>&nbsp;References to Other Pages&nbsp;</legend>
        <table class="formatter_table">
            <tr>
                <td style="width: 75%">
                    <select id="reference_list" th:field="*{titles}" size="3">
                        <option th:each="title: *{titles}" th:text="${title}" th:value="${title}" />
                    </select>
                    <br>
                </td>
                <td style="width: 25%">
                    <input type="submit" value="VIEW PAGE" formaction="/page" formmethod="post" /><br>
                    <input type="submit" value="BACK" formaction="/" formmethod="get" />
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
    <div id="static_page" style="width:100%; height:300px; overflow:hidden;">
        <iframe th:src="@{*{staticPageLink}}" style="height:100%" allow="fullscreen" autofocus />
    </div>
</form>
<script>
    window.onload = function() {
        document.getElementById("reference_list").selectedIndex = 0;
    }
</script>
</body>
</html>
