<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html::head}" />
<body id="body">
<form action="#" th:object="${payload}" th:action="@{/page}" method="post" novalidate>
    <a name="top"></a>
    <table th:replace="~{/fragments/banner.html::banner}" />
    <fieldset id="references">
        <legend>&nbsp;References to Other Pages&nbsp;</legend>
        <table class="formatter_table">
            <tr>
                <td style="width: 75%">
                    <select id="titles_list" th:field="*{titles}" title="Select a Title" size="3">
                        <option th:each="title: *{titles}" th:text="${title}" th:value="${title}" />
                    </select>
                    <br>
                </td>
                <td style="width: 25%">
                    <input type="submit" value="VIEW PAGE" title="Press to View the Selected Page" class="submit_full" formaction="/page" formmethod="post" /><br>
                    <input type="submit" value="BACK" title="Press to Jump Home" class="submit_full" formaction="/" formmethod="get" />
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
    <div id="static_page" th:utext="*{htmlContent}" style="width:100%;" />
</form>
</body>
</html>
