<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/desktop.css}" href="/styles/desktop.css">
</head>
<body>
<form action="#" th:object="${payload}" th:action="@{/search}" method="post" novalidate>
    <table class="formatter_table">
        <tr>
            <td style="width: 20%">
                <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge"></a>
            </td>
            <td style="width: 80%; text-align: left">
                <h1 class="page_title">WELCOME TO JAVA KNOWLEDGE!</h1>
            </td>
        </tr>
    </table>
    <fieldset>
        <table class="formatter_table">
            <tr>
                <td style="width: 75%">
                    <!--
                                        <input type="text" th:field="*{search_text}" autofocus />
                    -->
                    <input type="search" th:field="*{searchText}" placeholder="Search for title or content..." autofocus />
                </td>
                <td style="width: 25%">
                    <input type="submit" value="SEARCH" formaction="/search" formmethod="post" />
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
    <table class="formatter_table">
        <tr>
            <td></td>
            <td>
                <input type="submit" value="MANAGEMENT" class="button" formaction="/management" formmethod="post" />
            </td>
            <td></td>
        </tr>
    </table>
    <br>
</form>
<hr>
<br>
<p style="text-align: center">Hello Dear Fellow Developer,</p>
<br>
<p>This site is a knowledge base for</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;a. Java core</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;b. Spring frameworks (Spring Boot, Spring Data JPA, Spring Validation, Spring Thymeleaf etc.)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;c. related (PostgreSQL, HTML, CSS etc.)</p>
<br>
<p>Basically, JavaKnowledge serves as a help ground for backend developers. Descriptions are sort and compressed, code snippets are ready for copy-paste.</p>
<p>Knowledge was collected mainly from the next sources (in unimportant order; browse them freely).</p>
<br>
<table class="formatter_table">
    <tr>
        <td style="width: 20%">
            <a href="https://amigoscode.com"><img src="/images/logo.jpg" alt="logo"><br>https://amigoscode.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://blog.knoldus.com"><img src="/images/logo.jpg" alt="logo"><br>https://blog.knoldus.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://www.baeldung.com"><img src="/images/logo.jpg" alt="logo"><br>https://www.baeldung.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://www.bezkoder.com"><img src="/images/logo.jpg" alt="logo"><br>https://www.bezkoder.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://www.geeksforgeeks.org"><img src="/images/logo.jpg" alt="logo"><br>https://www.geeksforgeeks.org</a>
        </td>
    </tr>
    <tr>
        <td style="width: 20%">
            <a href="https://github.com"><img src="/images/logo.jpg" alt="logo"><br>https://github.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://html5boilerplate.com"><img src="/images/logo.jpg" alt="logo"><br>https://html5boilerplate.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://www.javatpoint.com"><img src="/images/logo.jpg" alt="logo"><br>https://www.javatpoint.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://www.programiz.com"><img src="/images/logo.jpg" alt="logo"><br>https://www.programiz.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://stackoverflow.com"><img src="/images/logo.jpg" alt="logo"><br>https://stackoverflow.com</a>
        </td>
    </tr>
    <tr>
        <td style="width: 20%">
            <a href="https://www.tutorialspoint.com"><img src="/images/logo.jpg" alt="logo"><br>https://www.tutorialspoint.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://www.w3schools.com"><img src="/images/logo.jpg" alt="logo"><br>https://www.w3schools.com</a>
        </td>
        <td style="width: 20%">
            <a href="https://www.youtube.com"><img src="/images/logo.jpg" alt="logo"><br>https://www.youtube.com</a>
        </td>
    </tr>
</table>
<br>
<p>I would like to express my big thanks to my brother-in-law who were with me from the very beginning and saw all my first steps in the backend world.</p>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;Bests, lgrimm</p>
<br>
</body>
</html>
