<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/dark_gray.css}" href="/styles/dark_gray.css">
</head>
<body>
<table class="formatter_table">
    <tr>
        <td style="width: 20%">
            <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge"></a>
        </td>
        <td style="width: 80%; text-align: left">
            <h1 class="page_title">WELCOME TO JAVA KNOWLEDGE!</h1>
        </td>
    </tr>
</table>
<br>
<form action="#" th:object="${payload}" th:action="@{/search}" method="post" novalidate>
    <fieldset>
        <table class="formatter_table">
            <tr>
                <td style="width: 75%">
                    <!--
                                        <input type="text" th:field="*{search_text}" autofocus />
                    -->
                    <input type="search" th:field="*{searchText}" placeholder="Search for title or content..." autofocus />
                </td>
                <td style="width: 25%">
                    <input type="submit" value="SEARCH" formaction="/search" formmethod="post" />
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
    <table class="formatter_table">
        <tr>
            <td></td>
            <td>
                <input type="submit" value="MANAGEMENT" class="button" formaction="/management" formmethod="post" />
            </td>
            <td></td>
        </tr>
    </table>
    <br>
</form>
This site serves as a knowledge base for <b>Java core</b>, <b>Spring frameworks</b> (<i>Spring Boot</i>, <i>Spring Data JPA</i>, <i>Spring Validation</i>, <i>Spring Thymeleaf</i> etc.) and related (<i>postgreSQL</i>, <i>HTML</i>, <i>CSS</i> etc.).<br>
<br>
</body>
</html>
