<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Java Knowledge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/desktop.css}" href="/styles/desktop.css">
</head>
<body>
<form action="#" th:object="${payload}" th:action="@{/search}" method="post" novalidate>
    <table class="formatter_table">
        <tr>
            <td style="width: 10%">
                <a href="/"><img src="/images/logo.jpg" alt="Java Knowledge" class="banner_image"></a>
            </td>
            <td style="width: 60%">
                <h1 class="banner_title">WELCOME TO JAVA KNOWLEDGE!</h1>
            </td>
            <td style="width: 30%">
                <p class="banner_info">
                    Author: <i>lgrimm</i>, created: 2022-2023<br>
                    Find me:&nbsp;<a href="https://github.com/lgrimm1">GitHub</a>,&nbsp;<a href="https://www.linkedin.com/in/laszlo-grimm/">LinkedIn</a>
                </p>
            </td>
        </tr>
    </table>
    <fieldset>
        <table class="formatter_table">
            <tr>
                <td style="width: 75%">
                    <!--
                                        <input type="text" th:field="*{search_text}" autofocus />
                    -->
                    <input type="search" th:field="*{searchText}" placeholder="Search for title or content..." autofocus />
                </td>
                <td style="width: 25%">
                    <input type="submit" value="SEARCH" formaction="/search" formmethod="post" />
                </td>
            </tr>
        </table>
    </fieldset>
    <br>
    <table class="formatter_table">
        <tr>
            <td></td>
            <td>
                <input type="submit" value="MANAGEMENT" class="button" formaction="/management" formmethod="post" />
            </td>
            <td></td>
        </tr>
    </table>
    <br>
    <hr>
    <br>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hello Dear Fellow Developer,</p>
    <br>
    <p>This site is a personal knowledge base of the next products.</p>
    <br>
    <p style="text-align: center;">
        <a href="https://www.java.com"><img src="/images/logo_Java.jpg" alt="Java core"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://spring.io"><img src="/images/logo_SpringFramework.jpg" alt="Spring frameworks"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.postgresql.org"><img src="/images/logo_PostgreSQL.jpg" alt="PostgreSQL"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://whatwg.org"><img src="/images/logo_HTML5.jpg" alt="HTML5"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.w3.org/"><img src="/images/logo_CSS3.jpg" alt="CSS3"></a>
    </p>
    <br>
    <p>Basically, JavaKnowledge serves as a help ground for backend developers. Descriptions are sort and compressed, code snippets are ready for copy-paste.</p>
    <p>The stored info is not finalized: as the site author develops, the knowledge grows.</p>
    <p>Knowledge was collected mainly from the next sources (in unimportant order; browse them freely).</p>
    <br>
    <br>
    <p style="text-align: center;">
        <a href="https://amigoscode.com"><img src="/images/logo_Amigoscode.jpg" alt="Amigoscode"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.baeldung.com"><img src="/images/logo_Baeldung.jpg" alt="Baeldung"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.bezkoder.com"><img src="/images/logo_Bezkoder.jpg" alt="Bezkoder"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.geeksforgeeks.org"><img src="/images/logo_GeeksForGeeks.jpg" alt="GeeksforGeeks"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com"><img src="/images/logo_GitHub.jpg" alt="GitHub"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://html5boilerplate.com"><img src="/images/logo_HTML5Boilerplate.jpg" alt="HTML5Boilerplate"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.javatpoint.com"><img src="/images/logo_JavaTPoint.jpg" alt="JavaTPoint"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://blog.knoldus.com"><img src="/images/logo_Knoldus.jpg" alt="Knoldus"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.programiz.com"><img src="/images/logo_Programiz.jpg" alt="Programiz"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://stackoverflow.com"><img src="/images/logo_StackOverflow.jpg" alt="StackOverflow"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.tutorialspoint.com"><img src="/images/logo_TutorialsPoint.jpg" alt="TutorialsPoint"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.w3schools.com"><img src="/images/logo_W3Schools.jpg" alt="W3Schools"></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.youtube.com"><img src="/images/logo_YouTube.jpg" alt="YouTube"></a>
    </p>
    <br>
    <p>I would like to express my gratitude to my brother-in-law who were with me and led all my first steps in the modern backend world.</p>
    <br>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bests, lgrimm</p>
    <br>
    <hr>
    <br>
</form>
</body>
</html>
