<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head.html::head}" />
<body>
<form action="#" th:object="${payload}" th:action="@{/management}" method="post" novalidate>
    <table th:replace="~{/fragments/banner.html::banner}" />
    <table class="formatter_table">
        <tr>
            <td style="width: 100%">
                <fieldset style="height: 20px">
                    <label th:text="*{message}" class="message" />
                </fieldset>
            </td>
        </tr>
    </table>
    <br>
    <table class="formatter_table">
        <tr>
            <td style="width: 65%">
                <fieldset>
                    <legend>&nbsp;Title&nbsp;</legend>
                    <input type="text" th:if="*{editExistingPage}" th:field="*{title}" title="Title of the Page" readonly />
                    <input type="text" th:unless="*{editExistingPage}" th:field="*{title}" placeholder="Enter the title of the page..." />
                </fieldset>
                <br>
                <input type="hidden" th:field="*{editExistingPage}">
                <fieldset>
                    <legend>&nbsp;Content&nbsp;</legend>
                    <textarea id="txt_content" th:field="*{content}" class="source_textarea" placeholder="Enter page content..." wrap="soft" spellcheck="false" />
                </fieldset>
                <br>
            </td>
            <td style="width: 35%">
                <fieldset>
                    <legend>&nbsp;Inserts&nbsp;</legend>
                    <input type="submit" value="HEADER 1" title="Press to Append Level 1 Header Standard to the Text" class="submit_half" formaction="/add/header1" formmethod="post" />
                    <input type="submit" value="HEADER 2" title="Press to Append Level 2 Header Standard to the Text" class="submit_half" formaction="/add/header2" formmethod="post" /><br>
                    <input type="submit" value="TABLE" title="Press to Append Table Standard to the Text" class="submit_half" formaction="/add/table" formmethod="post" />
                    <input type="submit" value="EXAMPLE" title="Press to Append Example Standard to the Text" class="submit_half" formaction="/add/example" formmethod="post" /><br>
                    <input type="submit" value="INTERNAL REFERENCE" title="Press to Append Internal Reference Standard to the Text" class="submit_full" formaction="/add/reference" formmethod="post" /><br>
                    <input type="submit" value="EXTERNAL REFERENCE" title="Press to Append External Reference Standard to the Text" class="submit_full" formaction="/add/more" formmethod="post" /><br>
                    <input type="submit" value="LIST ITEM" title="Press to Append List Item Standard to the Text" class="submit_half" formaction="/add/list" formmethod="post" />
                    <input type="submit" value="TABULATOR" title="Press to Append Tabulator Standard to the Text" class="submit_half" formaction="/add/tab" formmethod="post" /><br>
                    <input type="submit" value="DOUBLE TAB" title="Press to Append Double Tabulator Standard to the Text" class="submit_half" formaction="/add/tab2" formmethod="post" />
                    <input type="submit" value="TRIPLE TAB" title="Press to Append Triple Tabulator Standard to the Text" class="submit_half" formaction="/add/tab3" formmethod="post" /><br>
                </fieldset>
                <br>
                <input type="submit" value="SAVE" title="Press to Save the Source Page" class="submit_full" formaction="/save" formmethod="post" />
                <input type="submit" value="BACK" title="Press to Jump Back to Management" class="submit_full" formaction="/management" formmethod="post" />
            </td>
        </tr>
    </table>
    <br>
</form>
<script>
    window.onload = function() {
        var contentTextArea = document.getElementById("txt_content");
        contentTextArea.focus();
        contentTextArea.setSelectionRange(contentTextArea.value.length, contentTextArea.value.length);
    }
</script>
</body>
</html>
