/*
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
*/

body {
    background-color: DarkSlateGray;
    font-family: Tahoma, Verdana, sans-serif;
    color: LightGray;
    text-align: justify;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

fieldset {
    border: 1px solid;
    border-radius: 6px;
    color: DarkGray;
    margin: 0;
    padding: 6px;
}

legend {
    text-align: left;
}

hr {
    display: block;
    width: 80%;
    height: 1px;
    border: 0;
    border-top: 1px solid LightGray;
    margin: 1em 0;
    padding: 0;
    border-color: DarkGray;
}

h1 {
    font-size: 160%;
    text-align: center;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 100%;
    color: DarkGray;
}

a {
    font-size: 100%;
    color: LightGray;
}

textarea {
    width: 99%;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
/*
    font-family: Roboto;
*/
    font-family: Courier, monospace;
    font-size: 90%;
    color: DarkSlateGray;
    text-align: left;
    resize: vertical;
}

select {
    width: 99%;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
/*
    font-family: Roboto;
*/
    font-size: 90%;
    color: DarkSlateGray;
}

option:hover {
    color: LightGray;
    background-color: DarkGray;
}

iframe {
    height:100%;
    width:99%;
    border:none;
}

.formatter_table {
    width: 100%;
    text-align: center;
}

.page_title {
    font-size: 160%;
    text-align: left;
}

.message {
    font-size: 100%;
    color: Yellow;
    text-align: center;
}

.table {
    border: 1px solid DarkGray;
    border-collapse: separate;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}

.table_td, .table_th {
    border-left: 1px solid DarkGray;
    border-top: 1px solid DarkGray;
    text-align: center;
    padding: 3px;
}

.table_th {
    border-top: none;
    color: DarkGray;
}

.table_th:first-child, .table_td:first-child {
     border-left: none;
}

input[type="submit"], input[type="button"] {
    height: 32px;
    width: 90%;
    border: 1px solid;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
    font-size: 90%;
/*
    font-family: Roboto;
*/
    font-size: 90%;
    color: DarkSlateGray;
}

input[type="search"], input[type="text"] {
    height: 25px;
    width: 90%;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
/*
    font-family: Roboto;
*/
    font-size: 90%;
    text-align: center;
    color: DarkSlateGray;
}

input[type="file"] {
    display: none;
}

.custom_file_upload {
    display: inline-block;
    height: 32px;
    width: 90%;
    border: 1px solid;
    border-radius: 6px;
    background-color: LightGray;
/*
    font-family: Roboto;
*/
    font-size: 90%;
/*
    vertical-align: middle;
    padding: 10px 0px;
*/
    line-height: 32px;
    color: DarkSlateGray;
    cursor: pointer;
}

::-moz-selection {
  background: DarkGray;
  color: DarkSlateGray;
  text-shadow: none;
}

::selection {
  background: DarkGray;
  color: DarkSlateGray;
  text-shadow: none;
}
