body {
    background-color: DarkSlateGray;
    font-family: 'Roboto Mono', monospace;
    color: LightGray;
    text-align: left;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

fieldset {
    border: 1px solid;
    border-radius: 6px;
    color: DarkGray;
    margin: 0;
    padding: 6px;
}

legend {
    text-align: left;
}

img {
    vertical-align: middle;
    height: 80px;
}

hr {
    display: block;
    width: 80%;
    height: 1px;
    border: 0;
    border-top: 1px solid LightGray;
    margin: auto;
    padding: 0;
    border-color: DarkGray;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
/*
    margin-top: 2px;
    margin-bottom: 2px;
*/
}

ol {
    margin: 0px;
    list-style-type: lower-alpha;
}

h1 {
    font-size: 160%;
    text-align: center;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 100%;
    color: DarkGray;
}

a {
    font-size: 100%;
    color: LightGray;
}

textarea {
    width: 99%;
    height: 5em;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
    color: DarkSlateGray;
    text-align: left;
    resize: none;
    white-space: pre;
    overflow: auto;
}

select {
    width: 99%;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
    color: DarkSlateGray;
}

option:hover {
    color: LightGray;
    background-color: DarkGray;
}

iframe {
    height:100%;
    width:99%;
    border:none;
}

.formatter_table {
    width: 100%;
    text-align: center;
}

.banner_image {
    width: 50px;
    height: 50px;
    text-align: left;
}

.banner_title {
    font-size: 160%;
    text-align: center;
}

.banner_info {
    text-align: right;
}

.banner_link_logo {
    height: 32px;
}

.message {
    font-size: 100%;
    color: Yellow;
    text-align: center;
}

.table {
    border: 1px solid DarkGray;
    border-collapse: separate;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}

.table_td, .table_th {
    border-left: 1px solid DarkGray;
    border-top: 1px solid DarkGray;
    text-align: center;
    padding: 3px;
}

.table_th {
    border-top: none;
    color: DarkGray;
}

.table_th:first-child, .table_td:first-child {
     border-left: none;
}

.source_textarea {
    resize: none;
    height: 15em;
    white-space: pre;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow: -moz-scrollbars-horizontal;
}

.submit_full, .button_full {
    width: 90%
}

.submit_half {
    width: 44%
}

input[type="submit"], input[type="button"] {
    height: 32px;
    border: 1px solid;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
    color: DarkSlateGray;
}

input[type="search"], input[type="text"] {
    height: 25px;
    width: 90%;
    border-radius: 6px;
    border-color: DarkSlateGray;
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
    text-align: center;
    color: DarkSlateGray;
}

input[type="file"] {
    display: none;
}

.custom_file_upload {
    display: inline-block;
    height: 32px;
    width: 44%;
    border: 1px solid;
    border-radius: 6px;
    background-color: LightGray;
    font-family: 'Roboto Mono', monospace;
    font-size: 90%;
/*
    vertical-align: middle;
    padding: 10px 0px;
*/
    line-height: 32px;
    color: DarkSlateGray;
    cursor: pointer;
}

::-moz-selection {
  background: DarkGray;
  color: DarkSlateGray;
  text-shadow: none;
}

::selection {
  background: DarkGray;
  color: DarkSlateGray;
  text-shadow: none;
}
